body{
    background-color: yellowgreen;
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-align: right;
}

.title{
    text-transform: uppercase;
    color: yellow;
    text-align: right;
    padding: -24px;
    font-weight: 400;
    font-size: 40px;
    margin: 0%;
}

nav{
    background: linear-gradient(45deg, #ff0800, hsl(19, 97%, 47%));
}

nav ul.navbar-nav li:hover{
    background: white;
    size:5px;
}

.title:hover{
    text-decoration:none;
    color: red;
    font-weight: 450;  
    transition: .5s ease-in-out;  
}

.text-primary{
    color: purple!important;
}

.work{
    margin-bottom: 120px;
    margin-top: 120px;
}

.work .card img{
    height: 300px;
    opacity: .8;
}

.work .card:hover img{
    opacity: 1;
}

.work .card:hover .card-body{
    color: white;
    
    background: linear-gradient(to left, #f7420bd5, #cc001199);
}

.work .card{
    margin-top: 32px;
    margin-bottom: 32px;
}


.credit{
    background: linear-gradient(60deg, #289c41, #e7be07);
}
.credit p{
    color: red;
    font-size: 20px;
    padding: -80px; 
    margin: 0%; 

}

.credit:hover{
    transform: rotate(10deg);
    transition-duration: .2s;
}